.usericonformii {
  display: block;
  margin-top: -9px;
  width: 180px;
  margin-right: 120px;
}

.feed {
 display: block;
 margin-top: -0px;
 width: 180px;

}

.region {
width: 700px;
margin-left: 350px;
margin-top: -120px;
display: block;
}

.communites {
 display: block;
 margin-top: ;
 margin-top: -10;
width: 180px;

}

.message_wiiu {
  display: block;
  width: 180px;
}

.notifications {
 margin-left: 0px;
  width: 180px;
}

.back {

  display: block;
  margin: -20px;
  width: 180px;
  margin-top: -12px;
  margin-left: 2px;
}



.todos {
  position: fixed;


}

.desc {
margin-left: 100px;
margin-top: -30;
height: auto;
max-height: 600px; /* para que no se pase */
display: block;

}



.green {
 margin-top: -40px;
 margin-right: 100px;
 display: block;
 position: absolute;

}

.mk8U {

margin-top: 95px;
  width: 1500px;
  margin-left: 180px;
}

.mk8_icon {
margin-left: 300px;
margin-top: -220px;
width: 160px;
display: block;
border-radius: 25px;

}



.button {
 margin-left: 1200px;
  margin-top: -100px;
  display: block;



}




.mke {
  margin-left: 300px;
  display: block;
  position: absolute;
  margin-top: -380px;

 width: 200px;
}



body {
        
  background-image: url(/img/background.png)   

 
}

body{
  margin: 0;
  padding: 0;
  background: url(/img/background.png);   
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}


.box{
  
  background-image: url(../img/background.png);


}


.search {


   margin-top: 1000px;
 
}

.shop {
  width: 50px;
  margin-left: 1210px;
  margin-top: 10px;
  display: block;
  position: absolute;
 
 }

.info {
  margin-left: 1290px;
  margin-top: -50px;
  display: block;
  position: absolute;

}



